.container{
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contentContainer{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentWrapper{
    width: 90%;
    height: 90%;
}
.publicInfo{
    min-height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tasks{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.myTasks{
    margin-bottom: 50px;
}