.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.table {
    width: 100%;
    text-align: center;
}
.scroll{
    scrollbar-color: #f5f5f5;
    scrollbar-width: thin;
    overflow-y: auto;
    height: 80%;
 
}
.noTasks{
    font-weight: 500;
    font-size: 26px;
position: absolute;
left:50%;
}

.tr td {
    border: none;
    border-bottom: 2px solid #ff4a2b;
    border-collapse: collapse;
    font-size: 20px;
    font-weight: 600;
}

.td2 {
    width: 25%;
}

.td1 {
    width: 4%;
}

.td3 {
    width: 15%;
}

.td4 {
    width: 3%;
}
.editImg{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.input {
    width: 200px;
    float: left;
    height: 30px;
    border-radius: 0%;
    border: 1px solid black;
}
select{
    width: 200px;
    height: 34px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: 500;
}