.title{
    line-height: 1px;
    text-align: left;
    font-size: 32px;
}
table{
    width:600px;
}
td{
    width: 50%;
    height: 50px;
    text-align: left;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
}